<div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">

    <div fxFlex.gt-md="80" fxFlex.gt-xs="100" fxLayout="column" fxLayoutAlign="center stretch">

        <div fxLayout="row" fxLayoutAlign="center">
            <div class="container-form" fxLayout="column">
                <h2>Agregar nuevo contacto</h2>
                <form id="form-contacto" #formContacto="ngForm" autocomplete="off" (ngSubmit)="agregarContactoHandle(formContacto)"
                    fxLayout="column wrap" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="column" fxLayoutAlign="space-evenly center">
            
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Nombre y apellido</mat-label>
                        <input  matInput
                                id="nombre" 
                                name="nombre" 
                                [(ngModel)]="formulario.nombre"                                  
                                type="text" 
                                #nombre="ngModel" 
                                minlength="11" 
                                required
                                >
                        <mat-icon matSuffix>create</mat-icon>
                        <mat-error *ngIf="nombre.invalid && nombre.dirty">
                            <mat-hint *ngIf="nombre.hasError('required')">Campo requerido</mat-hint>
                            <mat-hint *ngIf="nombre.hasError('minlength')">Cantidad de caracteres: {{nombre.value.length || 0}}/11</mat-hint>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Profesión</mat-label>
                        <input  matInput
                                id="profesion" 
                                name="profesion" 
                                [(ngModel)]="formulario.profesion" 
                                type="text" 
                                #profesion="ngModel" 
                                required
                                >
                        <mat-icon matSuffix>create</mat-icon>
                        <mat-error *ngIf="profesion.invalid && profesion.dirty">
                            <mat-hint *ngIf="profesion.hasError('required')">Campo requerido</mat-hint>
                        </mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="fill">
                        <mat-label>Genero</mat-label>
                        <mat-select id="genero" 
                                    name="genero" 
                                    [(ngModel)]="formulario.genero" 
                                    #genero="ngModel" 
                                    required
                                    >
                            <mat-option value="" selected>Seleccione</mat-option>
                            <mat-option value="1">Hombre</mat-option>
                            <mat-option value="2">Mujer</mat-option>
                            <mat-option value="3">Otro</mat-option>
                        </mat-select>
                        <mat-error *ngIf="profesion.invalid && profesion.dirty">
                            <mat-hint *ngIf="genero.hasError('required')">Campo requerido</mat-hint>
                        </mat-error>
                    </mat-form-field>
            
                    <button mat-raised-button color="primary" [disabled]="formContacto.invalid">Agregar contacto</button>
            
                </form>
            </div>
        </div>

        <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">

            <app-template-contacto 

                fxFlex="auto" 
                fxLayout="row"
                fxFlex.gt-md="24" 
                fxFlex.gt-sm="48" 
                fxFlex.gt-xs="98"

                *ngFor="let contacto of contactos; let i = index" 
                [contacto]="contacto" 
                [index]="i"
                
                
            ></app-template-contacto>

            <!-- (borrarContacto)="borrarContactoHandle($event)" -->

        </div>

    </div>

</div>
