<h2>Agregar producto</h2>
<form class="mt-4">
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input id="titulo" class="form-control" name="titulo" #title>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input id="descripcion" class="form-control" name="descripcion" #descripcion>
    </div>
    <button type="button" class="btn btn-success mb-3" (click)="agregarProductoHandle(title.value, descripcion.value)">Agregar</button>
</form>

<div class="d-flex flex-wrap justify-content-start">
    <app-template-producto 
        *ngFor="let producto of productos; let i = index" 
        [producto]="producto" 
        [index]="i"
        (borrarProducto)="borrarProductoHandle($event)">
    </app-template-producto>
</div>