<div fxFlex="auto" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">

    <div fxFlex.gt-md="40" fxFlex.gt-sm="90" fxFlex.gt-xs="90" fxLayoutAlign="center center">
        <mat-card fxFlex.gt-md="50" fxFlex.gt-sm="80" fxFlex.gt-xs="80">
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon aria-hidden="false" aria-label="Icon people">perm_identity</mat-icon>
                </div>
                <mat-card-title>{{ (contacto | async)?.nombre }}</mat-card-title>
                <mat-card-subtitle>{{ (contacto | async)?.profesion }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="(contacto | async)?.imagen" alt="Foto de {{ (contacto | async)?.nombre }}">
            <mat-card-actions>
                <a routerLink="/contactos" mat-raised-button color="warn">Volver a contactos</a>
            </mat-card-actions>
            <p><strong>Latitud: </strong>{{ (contacto | async)?.latitud }}</p>
            <p><strong>Longitud: </strong>{{ (contacto | async)?.longitud }}</p>
        </mat-card>
    </div>

    <div fxFlex.gt-md="50" fxFlex.gt-sm="90" fxFlex.gt-xs="90">
        <agm-map *ngIf="(contacto | async)?.latitud" fxFlex.gt-md="90" fxFlex.gt-sm="90" fxFlex.gt-xs="90" 
            [zoom]="4" [latitude]="(contacto | async)?.latitud" [longitude]="(contacto | async)?.longitud">
            <agm-marker [latitude]="(contacto | async)?.latitud" [longitude]="(contacto | async)?.longitud"></agm-marker>
        </agm-map>
    </div>
    
</div>
