<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <img color="white" src="https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_user-circle-32.png">
        </div>
        <mat-card-title>{{ contacto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ contacto.profesion }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="contacto.imagen" alt="Foto de {{ contacto.nombre }}">
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendBorrarFavorito()">Borrar favorito</button>
        <mat-icon class="icon-thumb" (click)="sendContactoVoteUp()" aria-hidden="false" aria-label="Thumb Up">thumb_up</mat-icon>
        <span>Votos: {{ contacto.votes }}</span>
        <mat-icon class="icon-thumb" (click)="sendContactoVoteDown()" aria-hidden="false" aria-label="Thumb Down">thumb_down</mat-icon>
    </mat-card-actions>
</mat-card>
