<div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
    <div class="container-favoritos" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxLayout="column" fxLayoutAlign="center stretch">

        <mat-card class="card-login">
            <h1>¿Ingresar al sistema de contacto KevinAngular?</h1>
            <div fxLayoutAlign="center center">
                <button class="btn-login" mat-raised-button color="primary" (click)="logIn()">Entrar al sistema</button>
            </div>
        </mat-card>

    </div>
</div>
