<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon aria-hidden="false" aria-label="Icon people">perm_identity</mat-icon>
        </div>
        <mat-card-title>{{ contacto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ contacto.profesion }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="contacto.imagen" alt="Foto de {{ contacto.nombre }}">
    <mat-icon class="icon_thumbs" aria-hidden="false" aria-label="Icon thumbs">thumbs_up_down</mat-icon>
    <span>{{ contacto.votes }}</span>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendBorrarContacto()">Borrar contacto</button>
        <button mat-raised-button color="secundary" (click)="agregarFavoritoHandle()">Agregar a favoritos</button>
    </mat-card-actions>
</mat-card>