<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <img color="white" src="https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_user-circle-32.png">
        </div>
        <mat-card-title>{{ contacto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ contacto.profesion }}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="contacto.genero == '1'" mat-card-image src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png" alt="Foto del contacto">
    <img *ngIf="contacto.genero == '2'" mat-card-image src="https://www.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-512.png" alt="Foto del contacto">
    <img *ngIf="contacto.genero == '3'" mat-card-image src="https://cdn3.iconfinder.com/data/icons/fantasy-and-role-play-game-adventure-quest/512/Grim_Reaper-512.png" alt="Foto del contacto">
    <mat-card-content>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo ducimus dolore itaque ipsa.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendBorrarContacto(index)">Borrar</button>
    </mat-card-actions>
</mat-card>