<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon aria-hidden="false" aria-label="Icon people">perm_identity</mat-icon>
        </div>
        <mat-card-title>{{ contacto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ contacto.profesion }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="contacto.imagen" alt="Foto de {{ contacto.nombre }}">
    <mat-card-actions fxLayoutAlign="space-between">
        <button mat-raised-button color="primary" (click)="sendBorrarContacto()">Borrar</button>
        <button mat-raised-button appFavoritoDisabled [statusFavorito]="contacto.isFavorite" color="warn" (click)="agregarFavoritoHandle()">
            <mat-icon class="icon_thumbs" aria-hidden="false" aria-label="Icon thumbs">grade</mat-icon>
        </button>
        <a routerLink="/contacto/{{ contacto.id }}" mat-raised-button color="accent">Ver más</a>
        <span><mat-icon class="icon_thumbs" aria-hidden="false" aria-label="Icon thumbs">thumbs_up_down</mat-icon>{{ contacto.votes }}</span>
    </mat-card-actions>
</mat-card>