html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family: Raleway, "Helvetica Neue", sans-serif; 
    background: #303030;
    color: aliceblue;
}

.mat-raised-button.mat-primary:hover {
    outline: 1px solid #c2185b;
    color: #c2185b;
    background-color: #424242;
}